@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Poppins&display=swap");

:root {
  --black: #191919;
  --white: #f2f2f2;
  --main: #7352ed;
  --main-dark: rgb(95, 55, 240);
  --background: #050815;
  background-color: var(--dark);
}
.htmlScreen iframe {
  width: 1024px;
  height: 670px;
}

.project h1 {
  text-align: center;
  margin-bottom: 5%;
}
.image-transition {
  transition: opacity 0.5s ease-in-out;
}

.project-description img {
  width: 100%;
  border-radius: 20px;
}

.project-description {
  margin-bottom: 5%;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.button-link-item {
  background-color: var(--main);
  border-radius: 20px;
  padding: 3%;
}

#project-link:hover {
  /* color: red; */
}

.myrole-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  /* border: 1pt solid blue; */
}

.myrole-div {
  /* border: 1pt solid red; */
  flex: 0 0 calc(50% - 30px);
  margin-bottom: 8%;
  border-radius: 20px;
  padding: 10px;
  border-top: 1pt solid var(--main);
  border-bottom: 1pt solid var(--main);
  padding: 3%;
}

.myrole-div:hover {
  transition: 0.5s;
  scale: 1.05;
  border: 1pt solid var(--main);
}

.myrole-div p {
  font-size: 11pt;
  font-weight: 100;
  color: rgb(187, 187, 187);
}

.technologies-element {
  border-radius: 20px;
  padding: 3%;
  margin-bottom: 8%;
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.technologies-element:hover {
  transition: 0.5s;
  scale: 1.05;
  border: 1pt solid var(--main);
}

.technologies-element img {
  width: 50px;
}

.technologies-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 1pt solid blue; */
}

.technologies-flex div {
  flex: 0 0 calc(25% - 20px);
  /* border: 1pt solid red; */
  margin: 5px;
}

.project-objectives {
  margin-bottom: 50px;
  text-align: center;
}

.back-button {
  margin: 2% 0% 0% 2%;
  background-color: var(--red);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.back-button a {
  color: var(--white);
  text-decoration: none;
}

.back-button:hover {
  transition: 0.5s;
  cursor: pointer;
  scale: 1.05;
}
.flex {
  display: flex;
  /* To horizontally center the buttons */
  gap: 10px;
  /* Add some spacing between the buttons */
}

.descrp-text p {
  text-align: center;
}

.laptop-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  /* border: 1pt solid red; */
}

.laptop-item {
  margin-top: 10%;
  flex: 0 0 calc(50% - 30px);

  /* border: 1pt solid blue; */
}
@media (min-width: 700px) {
  .laptop-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }

  .laptop-item {
    margin-top: 10%;
  }
}

@media (min-width: 800px) {
  .technologies-element img {
    width: 60%;
  }
  .myrole-div {
    /* border: 1pt solid red; */
    margin-bottom: 8%;
    border-radius: 20px;
    padding: 10px;
    background-color: var(--black);
  }

  .button-link-item {
    padding: 10px;
  }
}

@media (min-width: 1000px) {
  .descr-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  /* 
  .descr-item1 {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: center;
    order: 0;
    word-break: break-all;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    /* border: 1pt solid red; 
  } */

  /* .descr-item2 {
    display: block;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    writing-mode: horizontal-tb;
  } */

  .technologies-element img {
    width: 50%;
  }

  .myrole-div {
    /* border: 1pt solid red; */
    flex: 0 0 calc(20% - 5px);
    border-radius: 20px;
    padding: 10px;
    background-color: var(--black);
    margin-right: 3%;
  }

  .techno-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .technologies-element {
    flex: 0 0 calc(30% - 30px);
    /* border: 1pt solid red; */
    margin: 5px;
  }
  .technologies-element img {
    width: 100%;
  }

  .myrole-flex {
    justify-content: center;
  }

  .myrole-div {
    /* border: 1pt solid red; */
    flex: 0 0 calc(20% - 30px);
  }
}

@media (min-width: 1500px) {
  .project {
    margin: 5% 10%;
  }
  .project h1 {
    font-size: 50pt;
  }
  .project-description img {
    width: 100%;
    border-radius: 20px;
  }

  .technologies-element img {
    width: 70%;
  }
}
