@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --black: #191919;
    --white: #F2F2F2;
    --red: hsl(0, 68%, 61%);
}

main {
margin: 5%;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--black);
    color: var(--white);
    font-family: 'Poppins', sans-serif;
}


h1{
    font-size: 30pt;
        -webkit-text-stroke-width: 1pt;
        -webkit-text-stroke-color: red;
        color: black;
        font-family: 'Red Rose', cursive;

}

p{
    font-size: 12;
}

/*skills*/
.progress-container {
    width: 80%;
    margin: 0 auto;
}

.skill-item{
    border: 1pt solid red;
    padding: 5%;
    border-radius: 20px;
}










.skill-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10%;
    margin-bottom: 10%;

}

.skill-item{
    margin: 5%;
    margin-bottom: 5%;
}

h2{
font-family: "red rose";
font-size: 16pt;
font-weight: 100;
}

.skill-item p{
    font-size: 10pt;
    font-weight: 100;
color: rgb(196, 196, 196);
}


/* CONACT ME*/

.contact-form{
  margin: 5%;

}
label{
    font-family: "red rose";
}
#name,#email,#description {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    background-color: var(--black);
    color: var(--white);
    font-size: 10pt;
    box-shadow: 0px 0px 10px 0px rgba(201, 49, 49, 0.75);
}

#description{
    height: 100px;
}

#submit{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 20px;
    background-color: var(--red);
    color: var(--white);
    font-size: 10pt;
}

#submit:hover{
    cursor: pointer;
    color: #191919;
}





.contact-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
}

.contact-flex-item{
    flex: 0 0 calc(20% - 20px);
}

.contact-flex-item:hover {
    scale: 1.05;
    cursor: pointer;
}

.contact-flex-item img{
    margin-top: 10px;
    height: 45%;
}


/*footer*/


.footer{
    text-align: center;
    font-size: 10pt;
    font-weight: 100;
    color: var(--white);
}



.progress-bar {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: var(--red);
    transform-origin: 0%;
}



@media (min-width: 700px) {
   h1{
    font-size: 40pt;
   }


}

@media (min-width: 1000px) {

.contact-flex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
    }

    .contact-flex-item img{
        /* border: 1pt solid red; */
        width: 70%;
    }
    
}