@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Poppins&display=swap');


:root {
    --black: #191919;
    --white: #F2F2F2;
    --red: #DF5757;
}
main {
margin: 5%;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--black);
    color: var(--white);
    font-family: 'Poppins', sans-serif;
}


h1{
-webkit-text-stroke: 1pt var(--white);
color:var(--black);
font-size: 30pt;
font-weight: 100;

}

p{
    font-size: 12;
}


/* CONACT ME*/


.contact-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
}

.contact-flex-item{
    flex: 0 0 calc(20% - 20px);
}

.contact-flex-item:hover {
    scale: 1.05;
    cursor: pointer;
}

.contact-flex-item img{
    margin-top: 10px;
    height: 45%;
}


/*footer*/


.footer{
    text-align: center;
    font-size: 10pt;
    font-weight: 100;
    color: var(--white);
}



.progress-bar {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: var(--red);
    transform-origin: 0%;
}



@media (min-width: 700px) {
   h1{
    font-size: 40pt;
   }


}